* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    display: inline-block
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color:#000000;
}

a:hover {
    color:blue;
}

.top-nav ul {
    list-style: none;
}

.top-nav {
    /*font-weight: bold;*/
    background: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: row;
    width: 250px;
}

.nav-left a{
    padding: .5em;
}

.nav-logo {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 3em;
    padding: .2em 0;
    margin: 0 auto;
}

.nav-logo a {
    padding: 0;
}

.nav-right {
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 250px;
}

.nav-right a {
    padding: .5em;
}